
*{
    margin: 0;
    color: beige;
}

body{
    background-color: black;
}

/* nav bar */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: right;
}
.header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.header .name {
    font-weight: bold;
    font-size: 18px;
    
}

.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 500;
    border-radius: 50%;
    width: 100px;
}



  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    float: left;
    padding: 120px 0px;
    box-shadow: 4px 0 8px rgba(255, 255, 255, 0.1);
  }

.heading{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    padding: 280px 0px;
    margin-left: 180px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid white; */
}

.content{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    padding: 0px 160px;
    position: absolute;
    top: 375px;
    display: flex;
    flex-wrap: wrap;
    
}

.button{
    font-size: 25px;
    font-family: cursive;
    background-color: #ffbd03; 
    border-radius: 3px;
    color: black;
    border: none;
    border-style: double;
    width: 280px;
    height: 70px;
    position: absolute;
    top: 470px;
}

.project-button{
    display: flex;
   justify-content: center;
    
    flex-wrap: wrap;
    
}

.icon{
    font-size: 40px;
}

.hover:hover {
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    font-family: cursive;
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  bottom:300px;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

button:hover{
    background-color: #000000;
    color: #ffbd03;
    border-radius: 5px;
    font-weight: bold;
    font-family: cursive;
}

.image img{
    width: 200px;
    padding: 100px 300px;
    /* border: 5px solid white; */
}

.about-heading{
    font-size: 3em;
    font-family: fantasy;
    float: right;
    /* border: 5px solid white; */
    position: relative;
    bottom: 320px;
    margin-right: 600px;
}

@media screen and  (max-width: 600px) {
   

    .button{
        font-size: 12.5px;
        font-family: cursive;
        border-radius: 3px;
        width: 120px;
        bottom: auto;
        position: unset;
        
    }

    .content{
        font-size: 10px;
        font-family: cursive;
        padding: 0px 160px;
        position: unset;
        display: flex;
        flex-wrap: wrap;
        
    }

    .heading{
        font-size: 25px;
        font-family: cursive;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        position: unset;
        /* border: 5px solid white; */
    }

    .console-underscore {
        display:inline-block;
       position:unset;
     }

     .console-container {
 
        font-family:Khula;
        font-size:2em;
        height:100px;
        width:300px;
        display:block;
        position:unset;
        color:white;
      }

      .header nav {
       flex-direction: row;
    }

    .image img{
        width: 100px;
        padding: 50px 150px;
        position: unset;
        /* border: 5px solid white; */
    }

    body{
        background-image: linear-gradient(#000e2e,#004f5a);
    }
}
